table {
  margin: 0 auto;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-collapse: collapse;
}

td {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 10px;
}
